@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

.container {
  background-color: #00474b;
  width: 100%;
  padding: 3.5vw;
  border-radius: 16px;
  box-sizing: border-box;
}

.resetBtn {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 10%;
  line-height: 1.5;
  background-color: #0d686d;
  border: none;
  color: #00474b;
  width: 100%;
  margin-top: 8.438rem;
  border-radius: 7px;
  outline: none;
  cursor: not-allowed;
}

.resetBtn:hover:not(:disabled) {
  background-color: #25c2ad;
  color: #00474b;
  border: none;
  outline: none;
  cursor: pointer;
}

@media (max-width: 550px) {
  .resetBtn {
    font-size: 6vw;
    line-height: 1.5;
    width: 100%;
    border-radius: 4.32px;
    margin-top: 43px;
  }
  .container {
    width: 100%;
    padding: 24px 16px 16px 16px;
    margin-top: 8px;
    margin-bottom: 8px;
  }
}
