@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

.container {
  background-color: #00474b;
  width: 566px;
  padding: 56px;
  border-radius: 16px;
}

.resetBtn {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 10%;
  line-height: 2.3rem;
  background-color: #0d686d;
  border: none;
  color: #00474b;
  width: 454px;
  margin-top: 135px;
  border-radius: 7px;
}

@media (max-width: 550px) {
  .resetBtn {
    font-size: 1.25rem;
    line-height: 29.62px;
    width: 100%;
    border-radius: 4.32px;
  }
  .container {
    width: 285px;
    padding: 24px 16px 16px 16px;
    margin-top: 58px;
  }
}
