@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

.container {
  background-color: white;
  width: 100%;
  font-family: "Space Mono", monospace;
}

.numberInput {
  font-family: "Space Mono", monospace;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.4;
  text-align: right;
  background-color: transparent;
  width: 100%;
  display: block;
  padding: 0;
  outline: none;
  border: none;
  margin: 0;
  color: #9fb3b2;
  -moz-appearance: textfield; /* Firefox */
  overflow: hidden; /* Prevent overflow or scroll */
}

.numberInput::-webkit-inner-spin-button,
.numberInput::-webkit-outer-spin-button {
  -webkit-appearance: none; /* Chrome, Safari, Edge, Opera */
  margin: 0;
}

.labelName {
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 10%;
  color: #5d6b6c;
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
  padding: 8px 20px;
  width: 100%;
  background-color: #f3f8fb;
  border-radius: 6px;
  margin-top: 14px;
}

.numberInput:focus {
  outline: none;
}

.inputWrapper:focus-within:not(.errorInput) {
  border: 2px solid #00474b;
}

.icon {
  position: absolute;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: left;
  display: block;
  color: #9fb3b2;
}

.error {
  color: red;
  display: block;
  height: 1.5rem;
}

.errorInput {
  border: 1px solid red;
}

@media (max-width: 550px) {
  .labelName {
    font-size: 0.9rem;
    line-height: 20.73px;
  }
  .inputWrapper {
    border-radius: 3.55px;
    margin-top: 8px;
    padding: 6px 16px;
    width: 100%;
  }
  .numberInput {
    font-size: 1.5rem;
    line-height: 2.2rem;
  }
  .container {
    width: 100%;
  }
}
