@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
* {
  box-sizing: border-box;
}
.billContainer {
  background-color: white;
  width: 100%;
  margin-bottom: 65.74px;
  margin-top: 61.74px;
}

.labelName {
  font-weight: 700;
  font-size: 20px;
  line-height: 29.62px;
  color: #5d6b6c;
  font-family: "Space Mono", monospace;
}

.buttonContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Create 3 equal columns */
  gap: 24px; /* Space between buttons */
  width: 100%;
  box-sizing: border-box;
  margin-top: 24px;
}

.inputContainer {
  max-width: 158px;
  width: 100%;
  border-radius: 6px;
  background-color: #f3f8fb;
  color: #5d6b6c;
  font-size: 24px;
  line-height: 35.54px;
  font-family: "Space Mono", monospace;
  text-align: center;
  padding: 0;
  border: 2px solid #26c2ad;
  overflow: hidden;
  outline: none;
}

@media (max-width: 550px) {
  .billContainer {
    margin-bottom: 2rem;
    margin-top: 2rem;
    width: 100%;
  }
  .labelName {
    font-size: 0.9rem;
    line-height: 1.3rem;
  }
  .buttonContainer {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 1rem;
    gap: 1rem;
    width: 100%;
  }
  .inputContainer {
    border-radius: 4px;
    font-size: 1.5rem;
    padding: 6px 23px;
    width: 100%;
    max-width: 157px;
    max-height: 48px;
  }
}
