@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

.billContainer {
  background-color: white;
  width: 100%;
  margin-bottom: 4.109rem;
  margin-top: 3.859rem;
}

.labelName {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.5;
  color: #5d6b6c;
  font-family: "Space Mono", monospace;
}

.buttonContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Create 3 equal columns */
  gap: 1.5vw; /* Space between buttons */
  width: 100%;
  margin-top: 1.5rem;
}

.inputContainer {
  /* max-width: 158px; */
  width: 100%;
  border-radius: 6px;
  background-color: #f3f8fb;
  color: #5d6b6c;
  font-size: 1.5rem;
  line-height: 1.5;
  font-family: "Space Mono", monospace;
  text-align: center;
  border: 2px solid #26c2ad;
  outline: none;
}

@media (max-width: 550px) {
  .billContainer {
    margin-bottom: 2rem;
    margin-top: 2rem;
    width: 100%;
  }
  .labelName {
    font-size: 0.9rem;
    line-height: 1.5;
  }
  .buttonContainer {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 1rem;
    gap: 1rem;
    width: 100%;
  }
  .inputContainer {
    border-radius: 4px;
    font-size: 1.5rem;
    /* padding: 6px 23px; */
    width: 100%;
    max-height: 48px;
  }
}

/* @media (max-width: 1100px) {
  .billContainer {
    margin-bottom: 3rem;
    margin-top: 3rem;
    width: 100%;
  }
  .labelName {
    font-size: 1.1rem;
    line-height: 1.5;
  }
} */
